.footer1 {
  position: relative;
  /*margin-top: -180px;*/
  /* negative value of footer height */
  height: 30px;
  clear: both;
  background-color: black;
  
}

* {
  box-sizing: border-box;
}

body {
  background-color: lightgrey;
}

/*nav {
  background-color: pink;
}*/
.jumbotron {
  background-color: lightgrey;
}

main {
  min-width: 250px;
  padding: 30px;
}

.hero {
  height: 200px;
  margin-bottom: 20px;
}

.hero img {
  height: 100%
}


.thumbnail {
  display: inline-block;
  cursor: pointer;
  height: 60px;
}

a.thumbnail:hover {
  box-shadow: 5px 5px 5px gray;
}

.thumbnail img {
  max-height: 100%;
}

hr {
  width: 75%;
  border: 3px dotted lightyellow;
  /*border-radius: 5px;*/
}

#hamnav {
  width: 100%;
  background: #000;
  top: 0;
}

/* Hide Hamburger */
#hamnav label, #hamburger { display: none; }

/* Horizontal Menu Items */
#hamitems { display: flex; }

#hamitems a {
  width: 20%; 
  padding: 10px;
  color: white;
  text-decoration: none;
  text-align: center;
}
#hamitems a:hover {
  background: blue;
}


@media screen and (max-width: 768px){
  #hamnav label { 
    display: inline-block; 
    color: white;
    background: blue;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }

  #hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 1px solid #333;
  }


  #hamitems { display: none; }

  #hamnav input:checked ~ #hamitems { display: block; }
}

html, body {
  padding: 0;
  margin: 0;
  font-family: arial, sans-serif;
}

/*responsive image */
#mainImg {
  width: 35%;
  height: auto;
}

iframe {
  width: 60%;
  height: auto;
}