.footer1 {
  position: relative;
  /*margin-top: -180px;*/
  /* negative value of footer height */
  height: 30px;
  clear: both;
  background-color: black;
  
}

* {
  box-sizing: border-box;
}

body {
  background-color: lightgrey;
}

/*nav {
  background-color: pink;
}*/
.jumbotron {
  background-color: lightgrey;
}

main {
  min-width: 250px;
  padding: 30px;
}

.hero {
  height: 200px;
  margin-bottom: 20px;
}

.hero img {
  height: 100%
}


.thumbnail {
  display: inline-block;
  cursor: pointer;
  height: 60px;
}

a.thumbnail:hover {
  box-shadow: 5px 5px 5px gray;
}

.thumbnail img {
  max-height: 100%;
}

.myInterests {
  /*background-color: pink;*/
}

li:hover {
  /**/
  /*background-color: grey;*/
}

hr {
  width: 1160px;
  border: 3px dotted lightyellow;
  /*border-radius: 5px;*/
}